:root {
    --color-bg: #3A6EA5;
    --color-window-bg: #D4D0C8;
    --color-border-frame: #0A0A0A;
    --color-border-relief: #DFDFDF;
    --color-border-shadow: #808080;
    --color-border-highlight: #FFFFFF;
    --color-blue: #000080;
    --color-blue-light: #1084d0;
    --color-gray: #808080;
    --color-gray-light: #B5B5B5;
    --font-root-size: 16px;
    --font-line-height: 24px;

    --border-window-outer: inset -1px -1px var(--color-border-frame), inset 1px 1px var(--color-border-relief);
    --border-window-inner: inset -2px -2px var(--color-border-shadow), inset 2px 2px var(--color-border-highlight);
}

* {
    box-sizing: border-box;
}

html, body, main, div, h1, h2, h3, h4, h5, p, ul, li {
    margin: 0;
    padding: 0;
}

html {
    background: repeat url('../img/dot-grid.webp');
}
html, body {
    font-family: Arial, Helvetica, "Liberation Sans";
    font-size: var(--font-root-size);
    line-height: var(--font-line-height);
    height: 100vh;
}
a {
    color: blue;
}
ul {
    list-style-position: inside;
    list-style-type: disc;
    padding-left: 1.5rem;
}
li {
    margin-bottom: 0.75rem;
}

.desktop {
    background-color: var(--color-bg);
    min-height: 100vh;
    width: 100%;
}

.layout {
    padding: 0.75rem;
}

.window {
    background-color: var(--color-window-bg);
    box-shadow: var(--border-window-outer), var(--border-window-inner);
    margin-bottom: 0.75rem;
    padding: 0.25rem;
}

.window-head {
    align-items: center;
    background: linear-gradient(90deg, var(--color-blue), var(--color-blue-light));
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0.125rem 0.25rem 0.25rem;
}
.window-head.mod-inactive {
    background: linear-gradient(90deg, var(--color-gray), var(--color-gray-light));
}

.window-head-text {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
    margin-right: 1.5rem;
}

.window-head-controls {
    display: flex;
}

.window-body {
    margin: 0.75rem;
}
.window-body > p {
    margin-bottom: 0.75rem;
}
.window-body > iframe {
    width: 100%;
}

.window-footer {
    display: flex;
    gap: 1px;
    justify-content: end;
    margin: 0px 0.125rem;
}

.window-footer-cell {
    box-shadow: inset -1px -1px var(--color-border-relief), inset 1px 1px var(--color-border-shadow);
    margin: 0;
    padding: 0.125rem 0.25rem;
}

.toolbar {
    display: none;
}

@media (min-width: 1440px) {
    html, body {
        height: 100vh;
    }
    body {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .desktop {
        background-color: var(--color-bg);
        height: 100%;
        margin:0 auto;
        max-height: 1080px;
        max-width: 1440px;
        overflow: hidden;
        padding-bottom: 3rem;
        position: relative;
    }

    .layout {
        align-items: start;
        display: grid;
        gap: 0.75em 0.75em;
        grid-template-columns: repeat(2, 1fr);
        justify-items: stretch;
        padding: 0.75rem;
    }
    .layout > .window:first-child {
        grid-column: 1 / span 2;
    }

    .window {
        margin-bottom: 0;
    }

    .toolbar {
        align-items: center;
        background-color: var(--color-window-bg);
        box-shadow: inset 0px 1px var(--color-window-bg), inset 0px 2px var(--color-border-highlight);
        bottom: 0;
        display: flex;
        justify-content: end;
        left: 0;
        margin: 0 auto;
        padding: 0.25rem;
        position: absolute;
        width: 100%;
    }
}